*.class
*.swp
Libs/TempTestCase*
Libs/TempTestSuite*
bin/lib/TempTestCase*
Reports/
\.classpath
\.project
\.settings/
bin/lib/
Libs/

# Python Configuration Files
*config.py


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

*.swp
*.bak
*.egg
*.egg-info
*.eggs
*.pyc
*.pyd
*.pyo
*.so
*~
.DS_Store
.Python
.cache
.coverage
.coverage.*
.direnv
.envrc
.idea
.installed.cfg
.noseids
.tox
.vimrc
bin
build
htmlcov
develop-eggs
dist
docs/_build/
eggs
include/
lib/
man/
nosetests.xml
parts
pyvenv
sources
var/*
venv
virtualenv.py
.install-cython
.install-deps
.develop
.gitconfig
.flake
.python-version
.pytest_cache
.vscode
.mypy_cache
pip-wheel-metadata
.test-results
coverage.xml

.serverless

venv/
venv
/venv

.env*

*.log